.card{
    color : white;
    height: 75%;
    padding-left:  80px;
    padding-right:  80px;
    box-sizing: border-box;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    width: 100%;
}

.card h2{
    font-size: 44px;
    font-weight: 300;
}

.card h4{
    font-size: 22px;
    font-weight: 300;
}

.card_hero{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 45%;
    float: left;
}

.card label{
    font-size: 14px;
    width: 280px;
    text-align: center;
}






@media only screen and (max-width: 760px){

    .card{
        box-sizing: content-box;
        padding : 0;
        background-size: 170%;
        padding-top: 55% !important;
        padding-bottom: 2% !important;
        text-align: center;
        background-image: linear-gradient(to bottom, 
        rgba(0,0,0,0) 22% ,rgba(0,0,0,0.8)  25%, rgba(0,0,0,1)  35%), url(https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg) !important;
        background-position: 100% 0px  !important;
    }

    .card_hero{
        float: none;
        width: 80%;
        margin: 0 10%;
        align-items: center;

    }
    
}