.card{
    color : black;
    padding: 3% 80px;
    box-sizing: border-box;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.card h2{
    font-size: 44px;
    font-weight: 300;
}

.card h4{
    font-size: 22px;
    font-weight: 300;
}

.card_hero{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 45%;
    padding-right: 10px;
}

.card label{
    font-size: 14px;
    width: 280px;
    text-align: center;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 5px;
}


.gallery img{
    width : 200px;
    cursor: pointer;
}

.gallery img:hover{
    box-shadow: 0px 1px 6px 4px #333;
    transition: 0.2s ease-in-out;
}


@media only screen and (max-width: 760px){

    .card{
        flex-direction: column;
        padding: 5% 20px;
    }

    .gallery img{
        width: 100px;
    }

    .card_hero{
        width: 100%;
        text-align: center;
    }

    .card h2{
        font-size: 26px;
    }

    .card h4{
        font-size: 16px;
    }
}